<p-growl [(value)]="msgs"></p-growl>
<p-table [columns]="columnasPersonas" [value]="personas"
	 [paginator]="true" [rows]="10"
	 
	 selectionMode="single" 
	 [(selection)]="personaSeleccionada"
	 (onRowSelect)="mostrarDialogoActualizarPersona($event)"
	 >
    <ng-template pTemplate="header" let-columns>
    	<tr>
    		<th colspan="2">Ejemplo JDuqueR Angular</th>
    	</tr>
    	<tr>
    		<th colspan="2">CRUD Personas</th>
    	</tr>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns"
            	[pSelectableRow]="rowData"
            	>
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="fa-plus" (click)="mostrarDialogoCrearPersona()" label="Crear Persona"></button>
        </div>
    </ng-template>
</p-table>

<p-dialog header="Persona" [(visible)]="mostrarDialogoPerson" [responsive]="true" showEffect="fade" [modal]="true" [closable]="true" [width]="300">
    <div class="ui-g ui-fluid" *ngIf="persona">
        <div class="ui-g-4"><label for="id">Id</label></div>
        <div class="ui-g-8"><input pInputText id="id" [(ngModel)]="persona.id" readonly="readonly" /></div>
        
        <div class="ui-g-4"><label for="name">Name</label></div>
        <div class="ui-g-8"><input pInputText id="name" [(ngModel)]="persona.name" /></div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="eliminarPersona()" label="Eliminar"></button>
            <button type="button" pButton icon="fa-check" (click)="guardarPersona()" label="Guardar"></button>
        </div>
    </p-footer>
</p-dialog>
